html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:url('./images/palissade-house-2213494720.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    width: 80%;
}